FORMAT: 1A
HOST: http://boswemianrhapsody.me/api/

# BoSWEmian Rhapsody (BR) API

BR is a simple API allowing consumers to get information on Artists, 
Albums, Tracks, Concerts, and Venues.

## Key

N/A = Not Available

R = Required

NR = Not Required

    Filter Query Operations (op)
    
    ==, eq, equals, equals_to
    !=, neq, does_not_equal, not_equal_to
    >, gt, <, lt
    >=, ge, gte, geq, <=, le, lte, leq
    in, not_in
    is_null, is_not_null
    like
    has
    any

    

## Artists Collection [/artists]

### List All Artists [GET]

    You can make queries to the artists collection in order to do
    search, sort, and filter requests.
    
    queries:
    
    Sort
    field - contains the key name that will be sorted on.
    (country, genre, id, name)
    
    direction - tells either ascending or descending.
    (asc, desc)
    
    q={"order_by":[{"field":    <field-name>,
                    "direction":<direction>}]}
                   
    Example: 
    http://boswemianrhapsody.me/api/artists?q={"order_by":[{"field":"country","direction":"asc"}]}
    
    ---
    
    Filter:
    name - contains the key name that will be sorted on.
    (country, genre, id, name)
    
    op - operation to check for equivalence
    (Look at Filter Query Operations at Key)
    
    value - contains the specific data to be filtered on
    (<name_data>)
    
    q={"filters":[{"name": <name>,
                   "op":   <op>,
                   "val":  <value>},...]}
                   
    Example:
    http://boswemianrhapsody.me/api/artists?q={"filters":[{"name":"name","op":"eq","val":"Smash%20Mouth"},...]}

    
    

+ Response 200 (application/json)
    
        {
              "num_results": 146, 
              "objects": [
                {
                  "albums": [
                    {
                      "album_cover_url": "https://i.scdn.co/image/ede1f1d01b8024ef1f9ae3fea1b25bfe083783bd", 
                      "artist_id": 1, 
                      "genre": "Alternative/Indie", 
                      "id": 1, 
                      "label": "Interscope", 
                      "name": "Astro Lounge", 
                      "number_of_tracks": 15, 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:album:2kyTLcEZe6nc1s6ve0zW9P"
                    }
                  ], 
                  "concerts": [
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-05-13", 
                      "event_link": "http://www.bandsintown.com/event/13940407?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 1, 
                      "name": "Smash Mouth", 
                      "time": "19:00:00", 
                      "venue_id": 1
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-05-27", 
                      "event_link": "http://www.bandsintown.com/event/14175478?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 2, 
                      "name": "Smash Mouth", 
                      "time": "21:00:00", 
                      "venue_id": 2
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-06-09", 
                      "event_link": "http://www.bandsintown.com/event/14190608?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 3, 
                      "name": "Smash Mouth", 
                      "time": "21:00:00", 
                      "venue_id": 3
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-06-10", 
                      "event_link": "http://www.bandsintown.com/event/14275014?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 4, 
                      "name": "Smash Mouth", 
                      "time": "17:00:00", 
                      "venue_id": 4
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-06-15", 
                      "event_link": "http://www.bandsintown.com/event/14376795?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 5, 
                      "name": "Smash Mouth", 
                      "time": "19:30:00", 
                      "venue_id": 5
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-06-17", 
                      "event_link": "http://www.bandsintown.com/event/14093224?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 6, 
                      "name": "Smash Mouth", 
                      "time": "19:00:00", 
                      "venue_id": 6
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-06-24", 
                      "event_link": "http://www.bandsintown.com/event/14192713?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 7, 
                      "name": "Smash Mouth", 
                      "time": "20:00:00", 
                      "venue_id": 7
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-07-14", 
                      "event_link": "http://www.bandsintown.com/event/14152274?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 8, 
                      "name": "Smash Mouth", 
                      "time": "19:00:00", 
                      "venue_id": 8
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-07-22", 
                      "event_link": "http://www.bandsintown.com/event/14377662?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 9, 
                      "name": "Smash Mouth", 
                      "time": "20:00:00", 
                      "venue_id": 9
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-08-18", 
                      "event_link": "http://www.bandsintown.com/event/14383698?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 10, 
                      "name": "Smash Mouth", 
                      "time": "18:00:00", 
                      "venue_id": 10
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-09-02", 
                      "event_link": "http://www.bandsintown.com/event/14384006?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 11, 
                      "name": "Smash Mouth", 
                      "time": "21:00:00", 
                      "venue_id": 11
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-09-08", 
                      "event_link": "http://www.bandsintown.com/event/14383996?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 12, 
                      "name": "Smash Mouth", 
                      "time": "21:00:00", 
                      "venue_id": 12
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "date": "2017-09-15", 
                      "event_link": "http://www.bandsintown.com/event/14199474?app_id=boswemianrhapsody&artist=Smash+Mouth&came_from=67", 
                      "id": 13, 
                      "name": "Smash Mouth", 
                      "time": "00:00:00", 
                      "venue_id": 13
                    }
                  ], 
                  "country": "United States", 
                  "decade": "1990s / 2000s / 2010s", 
                  "genre": "Alternative/Indie", 
                  "id": 1, 
                  "image_url": "https://i.scdn.co/image/8f037146240aad64f589b1448fcd703ba515cc24", 
                  "name": "Smash Mouth", 
                  "tracks": [
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 192160, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 14, 
                      "name": "Home", 
                      "popularity": 27, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ec1ede504f504dd1b94ecc33fd69daba30ac9eef?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:6fg2fVOaHd2oQQEzik3PRf"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 151826, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 13, 
                      "name": "Come On, Come On", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/eadc556adf461f2cfaebe81520fb35f70036ecc0?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:2iYcHbdJ7DrE0o9iOqMW8p"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 197960, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 7, 
                      "name": "Radio", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/7d94fe1314f4a36cc1a8f2cac9c974355ebf2e72?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:1poMC8EEh2mvjo9Xohwae3"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 244666, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 11, 
                      "name": "Fallen Horses", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/f13ee5759c5fa47b603aa7aa9430e36390ffce24?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:1RXThE5xrloqJud64bI3kv"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 214366, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 1, 
                      "name": "Who's There", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/c0ee60b1060e60ab0471d03b1db978c26eeae570?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:2DDBGX5qlbBRZsAqAWfILT"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 233666, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 12, 
                      "name": "Defeat You", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/de62d3712201ed6f10c45e1f2a2c4405dde134b6?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:3y9l6k1sTwXgJ3L80IfrS9"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 151106, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 10, 
                      "name": "Road Man", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/7d9f5f8c417560fa80af363f2faf3ad88f7314df?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:50uYYNVsBYbg8ZuGWN3JSd"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 221360, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 3, 
                      "name": "I Just Wanna See", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d633a56081d6bf6ddc0897996506aef45f452763?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:4R4HHwbrMb4Fttzrfccmh7"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 189093, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 2, 
                      "name": "Diggin' Your Scene", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/53ee7796c25dd4da75b9618de2002fce57af2c65?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:5VL3c4UjMFR8BcPqoFVTNc"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 217866, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 6, 
                      "name": "Satellite", 
                      "popularity": 34, 
                      "preview_url": "https://p.scdn.co/mp3-preview/874d9cf96ef76b6234f9ea1c19260496d8216007?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:7E6bQMVRpYsM8oDhha3nv8"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 205200, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 4, 
                      "name": "Waste", 
                      "popularity": 35, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5bfed88deb512812d1b9e6b9d8c8aa07edbbe3df?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:2Wo9IRlgSTeQs76VuuYnpw"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 182266, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 9, 
                      "name": "Then The Morning Comes", 
                      "popularity": 35, 
                      "preview_url": "https://p.scdn.co/mp3-preview/6d91d00cdad4baeb504f65b3a944701190ac4e7f?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:50MfV7a1pnOEcf2t9kobxW"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 248293, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 8, 
                      "name": "Stoned", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/4e0d598a6fe24c0e66d592fdb619e156674a56c3?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:7bFstEkOysInloEcaHzMUM"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 150773, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 15, 
                      "name": "Can't Get Enough Of You Baby", 
                      "popularity": 47, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3833bb556769e584e21ef8f31b34ea86ee953419?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:0UVIXwqfTjefBbDyY60MWB"
                    }, 
                    {
                      "album_id": 1, 
                      "artist_id": 1, 
                      "duration": 200373, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 5, 
                      "name": "All Star", 
                      "popularity": 74, 
                      "preview_url": "https://p.scdn.co/mp3-preview/baf18743c412db2c1fcff31fac079c1c982637d2?cid=null", 
                      "release_date": "1999-01-01", 
                      "spotify_uri": "spotify:track:3cfOd4CMv2snFaKAnMdnvK"
                    }
                  ]
                }, 
                {
                  "albums": [
                    {
                      "album_cover_url": "https://i.scdn.co/image/600cf9610d3f2d92e6f8039c7616d89084570ced", 
                      "artist_id": 2, 
                      "genre": "Soundtracks", 
                      "id": 2, 
                      "label": "Varese Sarabande", 
                      "name": "Game Of Thrones (Music From The HBO Series)", 
                      "number_of_tracks": 29, 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:album:5P9JZJW0itEaDK5RfWiSuZ"
                    }
                  ], 
                  "concerts": [], 
                  "country": "Germany", 
                  "decade": "2000s / 2010s", 
                  "genre": "Soundtracks", 
                  "id": 2, 
                  "image_url": "https://i.scdn.co/image/7f2676e08576f569de15238efe3f2e3cc84c82b6", 
                  "name": "Ramin Djawadi", 
                  "tracks": [
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 79280, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 30, 
                      "name": "The Assassin's Dagger", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/81b38f37633ae403ebf2871bd950d32d39d7009f?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:5uXztUX2ipi9KOCzKvvhPB"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 104773, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 42, 
                      "name": "The Night's Watch", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ce5e4d3cebe96e45acb89fab1cb0452d5416a4f8?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:5ryZK3msA04LNcnMaMtm6p"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 96306, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 39, 
                      "name": "Victory Does Not Make Us Conquerors", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/05cd6f1d981633ae0c2669c0038778144c64bcc8?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:2gJobE6MTzx3OZmZCdJ4RY"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 120226, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 23, 
                      "name": "The Wall", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/4b7b9dedfc44713c58a5753fc45036fe182700a9?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:7xGXV5CZuYJHvccOJRn8Iu"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 121840, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 27, 
                      "name": "A Bird Without Feathers", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/72c94c3a9628ff19de5bbdfedbe8a03f6da51145?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:6tBJvTeP9Z2prjm2SiHxQq"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 120840, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 28, 
                      "name": "Await The King's Justice", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/a67d5fcf848a822cf24f0694114eb47499e19d91?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:001VMKfkHZrlyj7JlQbQFL"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 155706, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 32, 
                      "name": "Jon's Honor", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/19fdfc1fbb772107d0d45392cb2d4b02dfa02bf9?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:4U1c58fpDgbjkb6sVQg26L"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 100613, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 33, 
                      "name": "Black Of Hair", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/6779f803d4eb49e369b4ef563ce7869e156c20fe?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:3fxX1rMUHoIVi7nuWV0Dok"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 117013, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 34, 
                      "name": "You Win Or You Die", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/0ca509dfeb3c20a4db57239479cb4e08b49ed813?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:6ur7qWcP3TMDwR1oR76aT9"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 117173, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 35, 
                      "name": "Small Pack Of Wolves", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/e68f2fc63115178b71746e6d21c1ae757f6db385?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:04wYy9EYUXndpOFQ3Th3Yo"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 197040, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 38, 
                      "name": "The Pointy End", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/07b1240d27ce0fd3f7d14bbb59f8db5db397ab7f?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:1w6o0rqVkrVNYtwGb4nL6h"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 112013, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 24, 
                      "name": "Things I Do For Love", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/508f4ff2e5e230b78b8e7229c275ff9f920b5ce4?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:1O90SyShhOhmEWXxqW32mK"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 98426, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 25, 
                      "name": "A Golden Crown", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5d0d42abb2e572e6f7bc66eb1d61781336eef7d0?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:5xrrSZVaQTtktyBux70TKn"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 95720, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 29, 
                      "name": "You'll Be Queen One Day", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/4c60a5e8e13b7f6ad1c17c2b4a765b1e341938c4?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:3fjWYZdo6uZJzsuSoCZmx2"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 160253, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 40, 
                      "name": "When The Sun Rises In The West", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/60fdb0fafa32783f3f6d85094f132f17bf102dc9?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:791hJyQ1Z3U9BmmFryEKPQ"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 88866, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 31, 
                      "name": "To Vaes Dothrak", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/fb23d26bcb633739dcbc66ebbada3b55064e72a3?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:6hJA1KQ8AK2r1mazUOQWGM"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 270213, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 43, 
                      "name": "Fire And Blood", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/091080594d5f4d36356babd0c566f9efdc095d1f?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:6TYzaO31pog2PwBm4O7OOM"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 240493, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 21, 
                      "name": "Love In The Eyes", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ebcee556b8580426d03ab9981aa9b42635b68b3d?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:19kA9MB5gD4xX27NFmBTVs"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 76760, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 22, 
                      "name": "A Raven From King's Landing", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/23b301cacc861842689e8683d52c94f39d38d9fa?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:12MKpMKBk9HPfOSvoO35m8"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 161773, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 26, 
                      "name": "Winter Is Coming", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/9699d5d0794d07c696c7512d3bd2a86617c5a830?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:0sNOPYInjylsM8ZnQozPjt"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 228426, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 17, 
                      "name": "North Of The Wall", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/76454e0f265e83a9e7a44d949dcfd25d7ad3111e?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:5FuRA7p0ZwR3u2EVouhvwU"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 155866, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 37, 
                      "name": "Kill Them All", 
                      "popularity": 34, 
                      "preview_url": "https://p.scdn.co/mp3-preview/72c803f83b1d1b9926560022de047115af831532?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:4m3Irk2mc25kcmJC2uqGlL"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 126053, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 19, 
                      "name": "The Kingsroad", 
                      "popularity": 35, 
                      "preview_url": "https://p.scdn.co/mp3-preview/aabd83b544d9fa77ef7f38b1f4b325fbb34eec94?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:7AoHeuLq7LpyeP7S8suz2e"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 88160, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 41, 
                      "name": "King Of The North", 
                      "popularity": 36, 
                      "preview_url": "https://p.scdn.co/mp3-preview/726c27b44ec855d9badf8ab7d5dd0bba5c368a4e?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:27tYMG6SdydZhJMYjIUpR1"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 213986, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 20, 
                      "name": "The King's Arrival", 
                      "popularity": 37, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5f7aecf5e6b2470c34f0ba09cfba16117377390e?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:7yCMrNtzgaSEjh2FlH2zFX"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 151146, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 44, 
                      "name": "Finale", 
                      "popularity": 38, 
                      "preview_url": "https://p.scdn.co/mp3-preview/bb3dc9c6d6f47e5688fea28c87b1377b09c157d9?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:3Z0QYWxOndrwwtiUyybjSl"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 78293, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 36, 
                      "name": "Game Of Thrones", 
                      "popularity": 42, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3607ae7ac080af57790460dae661c26d51aa8885?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:2kgJYQKyQ1CK5GWcCUGwwh"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 187280, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 18, 
                      "name": "Goodbye Brother", 
                      "popularity": 42, 
                      "preview_url": "https://p.scdn.co/mp3-preview/dfe8226053c6eb359e33f989b79f4873e0415499?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:5n44Y1e8exufbm9mmAvopf"
                    }, 
                    {
                      "album_id": 2, 
                      "artist_id": 2, 
                      "duration": 106280, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 16, 
                      "name": "Main Title", 
                      "popularity": 51, 
                      "preview_url": "https://p.scdn.co/mp3-preview/c93dcbb91e917fe0dfce3aebc8dfd218656ef151?cid=null", 
                      "release_date": "2011-06-28", 
                      "spotify_uri": "spotify:track:2q6fxAvSpqXR4jx9Ne7RGz"
                    }
                  ]
                }, 
                {
                  "albums": [
                    {
                      "album_cover_url": "https://i.scdn.co/image/0fb0c3a51adb73292b339b1a792120ef1e24445a", 
                      "artist_id": 3, 
                      "genre": "Electronica/Dance", 
                      "id": 3, 
                      "label": "Modular", 
                      "name": "Bag Raiders (Deluxe)", 
                      "number_of_tracks": 25, 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:album:6zVi5jNALX1GeD3MxiFmqo"
                    }
                  ], 
                  "concerts": [
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-02", 
                      "event_link": "http://www.bandsintown.com/event/14246553?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 14, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 14
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-07", 
                      "event_link": "http://www.bandsintown.com/event/14246570?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 15, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 15
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-09", 
                      "event_link": "http://www.bandsintown.com/event/14246584?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 16, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 16
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-10", 
                      "event_link": "http://www.bandsintown.com/event/14246596?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 17, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 17
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-14", 
                      "event_link": "http://www.bandsintown.com/event/14246615?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 18, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 18
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-16", 
                      "event_link": "http://www.bandsintown.com/event/14257977?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 19, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 19
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-06-17", 
                      "event_link": "http://www.bandsintown.com/event/14246636?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 20, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 20
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-07-14", 
                      "event_link": "http://www.bandsintown.com/event/14326542?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 21, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 21
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-07-15", 
                      "event_link": "http://www.bandsintown.com/event/14326550?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 22, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 22
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-07-16", 
                      "event_link": "http://www.bandsintown.com/event/14326560?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 23, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 23
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-07-20", 
                      "event_link": "http://www.bandsintown.com/event/14326563?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 24, 
                      "name": "Bag Raiders", 
                      "time": "19:00:00", 
                      "venue_id": 24
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "date": "2017-07-22", 
                      "event_link": "http://www.bandsintown.com/event/14264354?app_id=boswemianrhapsody&artist=Bag+Raiders&came_from=67", 
                      "id": 25, 
                      "name": "Bag Raiders", 
                      "time": "11:00:00", 
                      "venue_id": 25
                    }
                  ], 
                  "country": "Australia", 
                  "decade": "2000s / 2010s", 
                  "genre": "Electronica/Dance", 
                  "id": 3, 
                  "image_url": "https://i.scdn.co/image/eefd846c0b91dfdfd88bcfa1047469c052df0bf1", 
                  "name": "Bag Raiders", 
                  "tracks": [
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 389386, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 67, 
                      "name": "Not Over - Eli Escobar Remix", 
                      "popularity": 27, 
                      "preview_url": "https://p.scdn.co/mp3-preview/8f6e84bdb93c1b521002a387365c6c05c7b2353f?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:3um3GIbjgU2e6zdGvpIhe3"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 341146, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 64, 
                      "name": "Snake Charmer - Cassian Remix", 
                      "popularity": 28, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d187705b55f9d6de747b3591db9710f16bc78cd6?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0p6Rz55tll4d1SMgDTgZqv"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 314253, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 65, 
                      "name": "Sunlight - Armand Van Helden Remix", 
                      "popularity": 29, 
                      "preview_url": "https://p.scdn.co/mp3-preview/e81b18d0ebaddcb726386502d50d3268d2a994ee?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:2sElQV6ulmVPdJA8MOJo7z"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 350906, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 66, 
                      "name": "Way Back Home - Harvard Bass Remix", 
                      "popularity": 29, 
                      "preview_url": "https://p.scdn.co/mp3-preview/202e75cbc089c55a147dc7983392343d7673a6c2?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:7H2OYjdXH9Rs60wV0PgwI7"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 393120, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 58, 
                      "name": "Not Over - Softwar Remix", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/677a01c2d9492782f5c7e8bf269ed58a34d06d0f?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:4KbBnUA7qz6eSugwym94Hl"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 234066, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 61, 
                      "name": "Strangers On The Roof", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3004b2321ea59519285e8c8fb6975b3a1794f486?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:2BHZqhqPLUxYROwsq8WZKe"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 206320, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 60, 
                      "name": "Snake Charmer - Afrikan Boy Version", 
                      "popularity": 30, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3e70ca605442f4d115919b8a11d5dcb921e9cff6?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:3t05yihRyhdoAqPPJcijBW"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 154626, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 69, 
                      "name": "Waves", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5a8223aa55c1980b8c054ba9179e87af88d408c6?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0kTcwSRW0VQ1sYFZo5wJkX"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 320266, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 57, 
                      "name": "Sunlight - Tiedye Remix", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/a99dc67a28620efe54371440314f2e49589c9b52?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:5UGlXtCYF4gE4zk35LGk8h"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 230866, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 59, 
                      "name": "Shooting Stars - Shazam Dub", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/fbbdeec80629f4bd95479f3ec071cfc827f41ed4?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:2YTuqJJp22BCWZhlwUu9ok"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 337386, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 63, 
                      "name": "Shooting Stars - Siriusmo Remix", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/543cc09a05feb6cb92f8d0f3cfa19c71d8f3d841?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0L6FTymykfZ32iUglV83Wy"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 183853, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 68, 
                      "name": "Heartbeat", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/8f3d894b083766509f9fa48bd78c2034f34fe8ef?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:16e25pIMlKgIYRUkL7tcDA"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 316106, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 62, 
                      "name": "Way Back Home - Club Version", 
                      "popularity": 32, 
                      "preview_url": "https://p.scdn.co/mp3-preview/a43080cb8308b2a74b611fe84d2c3aea429fbff6?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:221NyHb7YOwF4NSyGC9cBB"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 231106, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 56, 
                      "name": "Tonight", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/45536eef48bd074e1c65b76f984aca6c362f6209?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:5bcYz0lvcck5zEnMFWiECo"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 226093, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 53, 
                      "name": "Always", 
                      "popularity": 35, 
                      "preview_url": "https://p.scdn.co/mp3-preview/e401241537269d47a4818a8b104f0c7a4c3b345c?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:4A5HUQ3Z3dEuRjw1WeNSyJ"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 284693, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 54, 
                      "name": "Golden Wings", 
                      "popularity": 38, 
                      "preview_url": "https://p.scdn.co/mp3-preview/4483e28a323af1c3390490521a180a4dffc15469?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:4RCLbtGKeeNjQWQUvSbdRz"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 187893, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 50, 
                      "name": "Prelude", 
                      "popularity": 38, 
                      "preview_url": "https://p.scdn.co/mp3-preview/34e196875bb64b859a0446c2636181632672911c?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:6aksXpDtoZ8mHWot6KBnB3"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 212973, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 45, 
                      "name": "Castles In The Air", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d37c3cc30b6e603010277bb60e763ea1cf3d6ab9?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:49TPAxUnsQ75Z25NDsAheo"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 241640, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 52, 
                      "name": "Snake Charmer", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5c0321c480b85d93d44362e1391db76489434a73?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:7koBZqDnVYOmns6aOAwIeQ"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 239946, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 51, 
                      "name": "Not Over", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/1f1e90378b261d8f2e633e7a6d73576245b246c0?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:65W9vmJwxmqzqH3wEZaU1J"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 166546, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 49, 
                      "name": "Gone Away", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/a9a4555a111f2eac51db0bf15909b26c9e05cf76?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:6lrgH6LgWiYVFIYyxHWP3J"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 256613, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 55, 
                      "name": "Way Back Home - Original", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/f54f773671b5e07ef6686602ba82a6c08a1b48a5?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0cHkeSotcFG5tExiaqutKr"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 225000, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 48, 
                      "name": "So Demanding", 
                      "popularity": 47, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3ddb8374bcb3a15571a5a10fd6f17ab1db6c830d?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:4tVAvWKFKax1ynfcsXitnH"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 243186, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 46, 
                      "name": "Sunlight", 
                      "popularity": 47, 
                      "preview_url": "https://p.scdn.co/mp3-preview/1a27425e74984f353ce66ebd96ca058dd55b3708?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0UJSqvoNqME71nlzSa3H7E"
                    }, 
                    {
                      "album_id": 3, 
                      "artist_id": 3, 
                      "duration": 235813, 
                      "explicit": false, 
                      "genre": "Electronica/Dance", 
                      "id": 47, 
                      "name": "Shooting Stars", 
                      "popularity": 74, 
                      "preview_url": "https://p.scdn.co/mp3-preview/424efd241d21fd79e9b7606fd2042aaa7b26d265?cid=null", 
                      "release_date": "2011-01-01", 
                      "spotify_uri": "spotify:track:0UeYCHOETPfai02uskjJ3x"
                    }
                  ]
                }, 
                {
                  "albums": [
                    {
                      "album_cover_url": "https://i.scdn.co/image/bf1857acfeea8448476d723e0852f118e865056e", 
                      "artist_id": 4, 
                      "genre": "Alternative/Indie", 
                      "id": 4, 
                      "label": "Island Records", 
                      "name": "The Golden Age", 
                      "number_of_tracks": 14, 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:album:7oRzNo0PkoRJlvI9Eocyf2"
                    }
                  ], 
                  "concerts": [], 
                  "country": "France", 
                  "decade": "2010s", 
                  "genre": "Alternative/Indie", 
                  "id": 4, 
                  "image_url": "https://i.scdn.co/image/5303ccc063af1a3c0f983bcd50353654d90591b4", 
                  "name": "Woodkid", 
                  "tracks": [
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 43200, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 80, 
                      "name": "Falling", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/67d4b527727e07415c442957857d21bf59ad2aa5?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:06AVrdxZjXi41qTV4I2BaD"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 264920, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 81, 
                      "name": "Where I Live", 
                      "popularity": 34, 
                      "preview_url": "https://p.scdn.co/mp3-preview/0c4154d233761aa4dc79f13f33480117d74467f7?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:2BTK9Ej1kxmoW1m8XtkHzW"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 124826, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 77, 
                      "name": "Shadows", 
                      "popularity": 34, 
                      "preview_url": "https://p.scdn.co/mp3-preview/bfd6aaea724c1c2dc6b6626dad5ec866c3c18f35?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:3tAJKkrrJWnNj4ttlwYNmT"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 169186, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 78, 
                      "name": "Stabat Mater", 
                      "popularity": 36, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ebd55ff04ff1ddb118f96351785e76515949e1e6?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:276eZdFlodKD1tHlaFDKwx"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 253533, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 75, 
                      "name": "The Shore", 
                      "popularity": 36, 
                      "preview_url": "https://p.scdn.co/mp3-preview/067fd88d62f333654d2055b699bff265bd19944b?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:5DyKHUJL1bnDcWrVoMYTph"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 270106, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 73, 
                      "name": "Boat Song", 
                      "popularity": 37, 
                      "preview_url": "https://p.scdn.co/mp3-preview/21ad60ec3eecdf11f8c1fc8a4513be419d5a5066?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:1WlIjI1OyiLFUuD6o6DhnA"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 221973, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 83, 
                      "name": "The Other Side", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/88c48163b2d9f40addb0fd68688442320b6c15ee?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:6Ms7R30sjVNju3XK12edgC"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 195000, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 72, 
                      "name": "The Great Escape", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/60948ef72008ebe26b864b68ab32b413c29ba568?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:7rBwqIxEO9p5Nj3vszYvi1"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 220213, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 76, 
                      "name": "Ghost Lights", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/89a49aaeed254adc87335a002087871fe849c9af?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:5WwPQbJzwS0oipjyqHDKrC"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 269880, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 79, 
                      "name": "Conquest Of Spaces", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/51f940a4b3b36de76d7613306f6e8b868d3191d6?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:1vQYZkwGwIotHU0BYCyQiu"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 224720, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 70, 
                      "name": "The Golden Age", 
                      "popularity": 45, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3ea1b020bd1bd16edaf859bcdb9ec85e6ab1cdad?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:0G2tHYsAHueVaPhTTBbVna"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 230160, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 74, 
                      "name": "I Love You", 
                      "popularity": 48, 
                      "preview_url": "https://p.scdn.co/mp3-preview/c3f8cd0c64617f24e12f6aa69a22158a20227d93?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:0z39yzkwMNXYX2LYtEOpFW"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 201693, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 82, 
                      "name": "Iron", 
                      "popularity": 48, 
                      "preview_url": "https://p.scdn.co/mp3-preview/278c3c7a272e58adbefeb638e21538c72f0c0e4b?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:59JXnQ3QCfMX572aDTYd46"
                    }, 
                    {
                      "album_id": 4, 
                      "artist_id": 4, 
                      "duration": 213266, 
                      "explicit": false, 
                      "genre": "Alternative/Indie", 
                      "id": 71, 
                      "name": "Run Boy Run", 
                      "popularity": 59, 
                      "preview_url": "https://p.scdn.co/mp3-preview/663b9a1b2829957bcbd1fa52cbae5811bf37f2e7?cid=null", 
                      "release_date": "2013-01-01", 
                      "spotify_uri": "spotify:track:0boS4e6uXwp3zAvz1mLxZS"
                    }
                  ]
                }, 
                {
                  "albums": [
                    {
                      "album_cover_url": "https://i.scdn.co/image/07024310624218884edb9019eae22b947adc504a", 
                      "artist_id": 5, 
                      "genre": "Soundtracks", 
                      "id": 179, 
                      "label": "Varese Sarabande", 
                      "name": "Star Trek (Music From The Motion Picture)", 
                      "number_of_tracks": 15, 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:album:0LGD98m43zunznpBrOsjqe"
                    }, 
                    {
                      "album_cover_url": "https://i.scdn.co/image/3b6db809f3243b290ce2b16cf61592b8da214b6f", 
                      "artist_id": 5, 
                      "genre": "Soundtracks", 
                      "id": 178, 
                      "label": "Varese Sarabande", 
                      "name": "Star Trek Into Darkness (Music From The Motion Picture)", 
                      "number_of_tracks": 14, 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:album:0dst3z0HnOCF0pdU05AZ4b"
                    }, 
                    {
                      "album_cover_url": "https://i.scdn.co/image/bbe394544368113a857164312d550cdc5ecf15d8", 
                      "artist_id": 5, 
                      "genre": "Soundtracks", 
                      "id": 5, 
                      "label": "Walt Disney Records", 
                      "name": "Rogue One: A Star Wars Story (Original Motion Picture Soundtrack)", 
                      "number_of_tracks": 21, 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:album:6h5p1LLfhcyYHnSVdlghJT"
                    }
                  ], 
                  "concerts": [], 
                  "country": "United States", 
                  "decade": "2000s / 1990s / 2010s", 
                  "genre": "Soundtracks", 
                  "id": 5, 
                  "image_url": "https://i.scdn.co/image/1812581eb241c95a81d5e571675e9d8f9aedf458", 
                  "name": "Michael Giacchino", 
                  "tracks": [
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 26813, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2615, 
                      "name": "To Boldly Go", 
                      "popularity": 0, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ff256c746a3a21a29840422b42a08ef87673c59b?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:6tJqB6qDczJr6jmhpaCQ6Y"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 158786, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2596, 
                      "name": "Earthbound And Down", 
                      "popularity": 22, 
                      "preview_url": "https://p.scdn.co/mp3-preview/c42381a03872ec45c8d713708aaf6c25ede02125?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:1242xclU2POVgDpSpdyspy"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 301306, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2599, 
                      "name": "The San Fran Hustle", 
                      "popularity": 23, 
                      "preview_url": "https://p.scdn.co/mp3-preview/cbef11d72e779bab52b349a00f7f8e1c67a9bd3a?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:1FKYwe1pKLzokZJ1CPfesf"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 104986, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2589, 
                      "name": "Spock Drops, Kirk Jumps", 
                      "popularity": 23, 
                      "preview_url": "https://p.scdn.co/mp3-preview/495b8e7f7c310cef223b28d7969f3c28f2135649?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:71i94br9eazQmoQ9zZxHK8"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 171640, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2595, 
                      "name": "Ship To Ship", 
                      "popularity": 23, 
                      "preview_url": "https://p.scdn.co/mp3-preview/c567143c7339f0366a58319a7ad2011434768c53?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:7DvFRBlyol01sFFmZHaWqK"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 222146, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2594, 
                      "name": "Brigadoom", 
                      "popularity": 23, 
                      "preview_url": "https://p.scdn.co/mp3-preview/6812ef30b7cc6f09bdc4660a0f02bcc95cee0e4a?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:4Kp0u4vqzIxwDQJaDlRIx4"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 326880, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2593, 
                      "name": "The Kronos Wartet", 
                      "popularity": 24, 
                      "preview_url": "https://p.scdn.co/mp3-preview/8ac8d880e2e486c29a173ad85562c4d05d24ee70?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:4cmY0TAlCNEPftnvpgyZf2"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 124773, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2609, 
                      "name": "Run And Shoot Offense", 
                      "popularity": 24, 
                      "preview_url": "https://p.scdn.co/mp3-preview/e1e7ef4ac474f983882144c490c13b63c269c0d1?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:5H3F21QPn9VRE7ZIKzwnVN"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 161346, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2592, 
                      "name": "Meld-Merized", 
                      "popularity": 24, 
                      "preview_url": "https://p.scdn.co/mp3-preview/90dd113341f699d191df07369cd531f445f76adf?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:1xYrVZWJLihIMTqdSA34TS"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 177173, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2597, 
                      "name": "Warp Core Values", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d625c0261fbe070f15788133572335c69931c283?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:7tZX6pQSxuUc3zUCNPS12y"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 59760, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2613, 
                      "name": "Back From Black", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5d6893e34a53ec29628206411bf12c781d7a7597?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:6gBLFsEDdBUGN4kZMMgbqV"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 154080, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2612, 
                      "name": "Nero Fiddles, Narada Burns", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/744cdba40b0f38d6dc3e05d7d085cd4626a4658f?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:7Kmf9LQ6aDbXdoDxRGMkqc"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 338866, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2611, 
                      "name": "Nero Death Experience", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/ba1386fa5f311490ec7d5c1cc5936e2e17b83e43?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:2YTwUoPJdvMPBHWR8OLgAf"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 123013, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2610, 
                      "name": "Does It Still McFly?", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/bab08ea7beb9f9c4a8e3a7f7508c3d998bf97809?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:6o4ay9zwV6EJZNvndd4JKn"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 193600, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2608, 
                      "name": "Nice To Meld You", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d38b973a1c92e417cf370fce410b73fe3aa45c9f?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:1bNB9sGFNaIzGUmVt5fY7p"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 198360, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2598, 
                      "name": "Buying The Space Farm", 
                      "popularity": 25, 
                      "preview_url": "https://p.scdn.co/mp3-preview/99f692343d41b6bf7a69538e1d2e4505bf1b5e0c?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:1dUbLHpZShyO4BUZS2N2OQ"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 129120, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2603, 
                      "name": "Nailin' The Kelvin", 
                      "popularity": 26, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5c4dfa7550e2c5bff5393750bc6603b91b1c9a1b?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:3aOuEUpHuckF6uxb4ljjNL"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 181053, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2600, 
                      "name": "Kirk Enterprises", 
                      "popularity": 26, 
                      "preview_url": "https://p.scdn.co/mp3-preview/cd20e32d0f615783ae1e74fd28723182c8a3351e?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:3D1QAyrH10KZXkIHoTpemJ"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 144720, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2590, 
                      "name": "Sub Prime Directive", 
                      "popularity": 27, 
                      "preview_url": "https://p.scdn.co/mp3-preview/3631c99d6bbcef61b4bd522a40e43ab3ff0e14b9?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:0vgkEeiULt4ow0B4zjKkfI"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 203133, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2607, 
                      "name": "Nero Sighted", 
                      "popularity": 27, 
                      "preview_url": "https://p.scdn.co/mp3-preview/5137b9f9fd6d14bfcf22698c74c629ffee1235e2?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:1oleONHRrX3GOv4EYAyt5X"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 182013, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2588, 
                      "name": "Logos / Pranking The Natives", 
                      "popularity": 27, 
                      "preview_url": "https://p.scdn.co/mp3-preview/2a8e2c0aea3be9224fa9ab1a3d4074b8ab9d7f85?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:1lVLcot6MzNaAptRsD3cHw"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 115626, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2605, 
                      "name": "Hella Bar Talk", 
                      "popularity": 28, 
                      "preview_url": "https://p.scdn.co/mp3-preview/309a3abe19cc18bfdb9197012385fcf80da97b6a?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:5n1b0twxE1wbye73ArYpU3"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 286320, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2614, 
                      "name": "That New Car Smell", 
                      "popularity": 28, 
                      "preview_url": "https://p.scdn.co/mp3-preview/6c1fa461cb4cf6bba7bd5553391d8f2b32ec4cf0?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:2158VjvwSbHvWOyXlhTTL0"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 551186, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2616, 
                      "name": "End Credits", 
                      "popularity": 31, 
                      "preview_url": "https://p.scdn.co/mp3-preview/0160ca0e33c683120ac1bbb6d5c188d07f243333?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:1VkSSAbMsYAjAakaje6bFi"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 171466, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2604, 
                      "name": "Labor Of Love", 
                      "popularity": 33, 
                      "preview_url": "https://p.scdn.co/mp3-preview/abad140d73c2e00179451125a557977b28e19fa0?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:5LHkeC8hBkHZx4TwORK577"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 130613, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2591, 
                      "name": "London Calling", 
                      "popularity": 36, 
                      "preview_url": "https://p.scdn.co/mp3-preview/aa7c9a6c2256a708288b52e20b5007b28d374cf8?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:4JSmTtaYAmKcHhadidacFi"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 61160, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2602, 
                      "name": "Star Trek", 
                      "popularity": 37, 
                      "preview_url": "https://p.scdn.co/mp3-preview/086d4873d054ca171019aebe6a092e93429130ea?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:7yfZybf51ZCHG1waqcDsiu"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 239560, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 96, 
                      "name": "Cargo Shuttle SW-0608", 
                      "popularity": 39, 
                      "preview_url": "https://p.scdn.co/mp3-preview/f2c680a09c1da1a4b6842415171695240d745fad?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:7AgciDSak9I6aBmCP5kxlg"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 242600, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 99, 
                      "name": "The Master Switch", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/27629d4eeb9eb7a6178f6d422a7405d0aba181d0?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:1gv7u3CtDZCeG3lrWuViah"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 175280, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 98, 
                      "name": "AT-ACT Assault", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/7d763d7c1eb0715c325e04228a2c057840bab087?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:3GZPC62okpzTgJnVXwiYRh"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 93040, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 97, 
                      "name": "Scrambling the Rebel Fleet", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/baa1ac0cd73e6dce572007eed16299503a705818?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:0fpiH9QqkuXYrOuBL4Qrwm"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 256399, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 93, 
                      "name": "Krennic's Aspirations", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/9c74e7b32381544f7a86bdd6d3adba17cfc7787b?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:3Al2YPSP2wyuewxOv2j9x7"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 139440, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 90, 
                      "name": "Jedha City Ambush", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/f6425c68cc79aeeafcf84bac6a0a51c087f6fe08?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:4lNykqX7Lv55AXnlsSgQmh"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 54653, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 86, 
                      "name": "Wobani Imperial Labor Camp", 
                      "popularity": 40, 
                      "preview_url": "https://p.scdn.co/mp3-preview/87e4d9d5d71f954d551ed6165efeccad053b00b9?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:7vmgfpN0V5aU57IeM7WDTS"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 119480, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 88, 
                      "name": "When Has Become Now", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/e5af490783f218bc916b3c686cf13c17efa6e345?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:18teqnZDn9NnEukEP9JurW"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 227453, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 91, 
                      "name": "Star-Dust", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/16517654eaaabd02a06a206faba4e9c2a454c796?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:6KAWSVdqsr7rPUx2kwHd94"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 485813, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 92, 
                      "name": "Confrontation on Eadu", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/a4436143106d73d33a05082b575ce2435df83d79?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:5JMwFVs4EdoAMV4UcvUNaS"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 168466, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 89, 
                      "name": "Jedha Arrival", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/89e3badc3486cbd45baf9d77abb0dc7be193ecff?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:1Nw4OIdz16ELHuwgc0FA9A"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 165386, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 87, 
                      "name": "Trust Goes Both Ways", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/d7d87f7863fba7207a338f8c0f216b5d3a068c5c?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:72Hca258e4JBSHUnLlhJTu"
                    }, 
                    {
                      "album_id": 179, 
                      "artist_id": 5, 
                      "duration": 159653, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2606, 
                      "name": "Enterprising Young Men", 
                      "popularity": 41, 
                      "preview_url": "https://p.scdn.co/mp3-preview/b08b3761ea12bd0507806fb3c7758a9716e46b61?cid=null", 
                      "release_date": "2009", 
                      "spotify_uri": "spotify:track:0NGVyXhUkqE3MRN6TmSzuG"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 236253, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 85, 
                      "name": "A Long Ride Ahead", 
                      "popularity": 42, 
                      "preview_url": "https://p.scdn.co/mp3-preview/db8d067306360d66d312c793d77b049dcb1511ef?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:0kUOsWcGBawleBxWv8pK4J"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 200466, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 84, 
                      "name": "He's Here For Us", 
                      "popularity": 43, 
                      "preview_url": "https://p.scdn.co/mp3-preview/7e930835b97dd026edc3726933017d73178a38de?cid=null", 
                      "release_date": "2016-12-16", 
                      "spotify_uri": "spotify:track:53n7BB3bXGdiadKybuh0Pr"
                    }, 
                    {
                      "album_id": 178, 
                      "artist_id": 5, 
                      "duration": 205573, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 2601, 
                      "name": "Star Trek Main Theme", 
                      "popularity": 43, 
                      "preview_url": "https://p.scdn.co/mp3-preview/865bec0ca772b337cd96e8feca03c986a034e4e1?cid=null", 
                      "release_date": "2013-05-21", 
                      "spotify_uri": "spotify:track:6fVX8mF9ZqS1V8G2ZFCbLQ"
                    }, 
                    {
                      "album_id": 5, 
                      "artist_id": 5, 
                      "duration": 124546, 
                      "explicit": false, 
                      "genre": "Soundtracks", 
                      "id": 95, 
                      "name": "Rogue One", 
                      "popularity": 43, 
[...]
