<!DOCTYPE HTML>
<html>
	<head>
		<title>Page Not Found</title>
		<meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="{{ url_for('static', filename='resources/css/error.css') }}" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
				<div class="header">
					<div class="logo">
						<h1><a href="#">BoSWEmian Rhapsody </a></h1>
					</div>
				</div>
			<div class="content">
				<img src="{{ url_for('static', filename='resources/images/error-img.png') }}" title="error" />
				<p><span><label>Oh</label> no! </span>You requested a page that is no longer available.</p>
				<a href="{{ url_for('index') }}">Go Back Home</a>
   			</div>
		</div>
