<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>BoSWEmian Rhapsody</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='resources/css/sweStyle.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='resources/css/landing-page.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='resources/css/runTestModals.css') }}">
      <link href="{{ url_for('static', filename='resources/templates/type/icons.css') }}" rel="stylesheet">
      <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background: #333;">
         <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a style ="color: white;" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li style="background: rgb(74, 162, 209);">
                     <a style="color: #FFFFFF;" href="{{ url_for('about_page') }}">About</a>
                  </li>
                  <li>
                     <a style="color: #FFFFFF;" href="{{ url_for('tracks_table') }}">Tracks Table</a>
                  </li>
                  <li>
                     <a style="color: #FFFFFF;" href="{{ url_for('artist_table') }}">Artist Table</a>
                  </li>
                  <li>
                     <a style="color: #FFFFFF;" href="{{ url_for('albums_table') }}">Albums Table</a>
                  </li>
                  <li>
                     <a style="color: #FFFFFF;" href="{{ url_for('concerts_table') }}">Concerts Table</a>
                  </li>
                  <li>
                     <a style="color: #FFFFFF;" href="{{ url_for('data_vis') }}">Data Visualization</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <div class="container aboutHeader">
         <div class="row">
            <div class="col-xs-12" style="padding-top: 40px;">
               <h1 class="aboutTitle">Meet Bo<em class="aboutEmph">SWE</em>mian Rhapsody.</h1>
            </div>
         </div>
      </div>
      <!-- first section -->
      <div class="content-section-a">
         <div class="container text-center">
            <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/16473644_1405117576207828_2687007311776908434_n.jpg?oh=f86128ed760eeae95014fc9f63194226&oe=595B60B0">
                  <h2 class="section-heading">Alex Pustilnik<br></h2>
                  <p class="lead" style="padding-bottom: 24.5px">I am a junior CS student. When I am not in the computer lab, I enjoy living life shirtless and on the front row of UT athletics events with the Longhorn Hellraisers.</p>
                  <hr>
                  <p class="lead">Front End</p>
                  <p class="lead"># Commits: 94</p>
                  <p class="lead"># Issues: 9</p>
                  <p class="lead"># Unit Tests: 0</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/15181531_1225674714171851_5837485603821018356_n.jpg?oh=5960e4488053ae0f88be6ddc34339c34&oe=595533BF">
                  <h2 class="section-heading">Ben Rodgers<br></h2>
                  <p class="lead">I am a sophomore CS major and work as both the student manager for the men's swim team and an operating systems TA. You can find me at the pool or hiding from OS students in the lab.</p>
                  <hr>
                  <p class="lead">Back End and Database</p>
                  <p class="lead"># Commits: 48</p>
                  <p class="lead"># Issues: 0</p>
                  <p class="lead"># Unit Tests: 0</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/16797889_10202814102910469_9181354154936197942_o.jpg?oh=acaf4b01d144aa2ab7cd2bce8ef90427&oe=595CAAC8">
                  <h2 class="section-heading">Emran Shafaq<br></h2>
                  <p class="lead">I am a sophomore CS and mathematics major. I've been singing for most of my life, so this project was a perfect intersection of my interests. I mainly worked on backend for the website.</p>
                  <hr>
                  <p class="lead">Back End</p>
                  <p class="lead"># Commits: 29</p>
                  <p class="lead"># Issues: 6</p>
                  <p class="lead"># Unit Tests: 11</p>
               </div>
            </div>
         </div>
         <!-- /.container -->
      </div>
      <!-- second section -->
      <div class="content-section-b">
         <div class="container text-center">
            <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://github.com/theCreedo/theCreedo.github.io/blob/master/images/blog-profile.png?raw=true">
                  <h2 class="section-heading">Eric Lee<br></h2>
                  <p class="lead">I am a sophomore CS student, a UTCS blogger, and a proctor for Object-Oriented Programming. I am always very passionate about learning new things and thrive in the hackathon environment as a back-end developer and manager. I hope to become a very influential person through writing, programming, and teaching.</p>
                  <hr>
                  <p class="lead">Back End and Design</p>
                  <p class="lead"># Commits: 24</p>
                  <p class="lead"># Issues: 10</p>
                  <p class="lead"># Unit Tests: 0</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/17310046_1685967944763464_2574695517235882052_o.jpg?oh=c7795e502c03eafd8fe0f10b8c952745&oe=596B7A19">
                  <h2 class="section-heading">Nandhini Lakuduva<br></h2>
                  <p class="lead" style="padding-bottom:24.5px;">I am a junior CS major. I've been working with big data and data analysis in both research and industry which is what I'd like to pursue in the future. In my spare time, I volunteer to teach programming to engage young women at an all-girl's school. Hire me! I'll work for Nutella and enchiladas!</p>
                  <hr>
                  <p class="lead">Back End and Database</p>
                  <p class="lead"># Commits: 36</p>
                  <p class="lead"># Issues: 3 </p>
                  <p class="lead"># Unit Tests: 0</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <img class="aboutImage" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/14063964_1438928322800762_176714821155125674_n.jpg?oh=7f121ff07567cd44818fff15b915485e&oe=59631E32">
                  <h2 class="section-heading">Tracy Nguyen<br></h2>
                  <p class="lead" style="padding-bottom:24.5px;">I am a sophomore CS major. I consist of existential memes, video games, and romantic walks down the beach. Honestly, I've probably watched more rom-coms than you ever will. Occassionally, I play with cybersecurity and dabble in latest website aesthetic because I'm that guy. </p>
                  <hr>
                  <p class="lead">Front End</p>
                  <p class="lead"># Commits: 39</p>
                  <p class="lead"># Issues: 0</p>
                  <p class="lead"># Unit Tests: 0</p>
               </div>
            </div>
         </div>
         <!-- /.container -->
      </div>
      <!-- stats tracker -->          
      <div class="content-section-a">
         <div class="container text-center">
            <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Stats<br></h2>
                  <p class="lead"># Commits: 270 </p>
                  <p class="lead"># Issues: 31 </p>
                  <p class="lead"># Unit Tests: 21 </p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">APIs Used<br></h2>
                  <p class="lead"><a href="https://developer.spotify.com/web-api/">Spotify</a> <br> used to get songs, albums, artists and artwork.</p>
                  <p class="lead"><a href="https://app.swaggerhub.com/api/Bandsintown/PublicAPI/3.0.0">Bandsintown</a> <br> used to get concert information.</p>
                  <p class="lead"><a href="http://musicgraph.com/#/home">MusicGraph</a> <br> used to get genre, country and other information.</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Our API and Github<br></h2>
                  <p class="lead"><a href="http://docs.boswemianrhapsody.apiary.io/">Apiary API</a></p>
                  <p class="lead"><a href="https://github.com/theCreedo/idb/issues">Github Issue Tracker</a></p>
                  <p class="lead"><a href="https://github.com/theCreedo/idb">Github Repository</a></p>
               </div>
            </div>
         </div>
         <!-- /.container -->
      </div>
     <!-- tools section -->
     <div class="content-section-a">
         <div class="container text-center">
            <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <div class="clearfix"></div>
                  <a href="http://getbootstrap.com">
                  <img class="toolImage" src="../static/resources/icons/bootstrap-4.svg">
                  </a>
                  <h2 class="section-heading">Bootstrap</h2>
                  <p class="lead">Responsive Web Design</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <div class="clearfix"></div>
                  <a href="http://flask.pocoo.org">
                  <img class="toolImage" src="../static/resources/icons/flask.svg">
                  </a>
                  <h2 class="section-heading">Flask<br></h2>
                  <p class="lead">Python Web Framework</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <div class="clearfix"></div>
                  <a href="https://github.com">
                  <img class="toolImage" src="../static/resources/icons/github.png">
                  </a>
                  <h2 class="section-heading">Github<br></h2>
                  <p class="lead">Source Version Control</p>
               </div>
            </div>
           <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://slack.com">
                  <img class="toolImage" src="../static/resources/icons/slack.svg">
                  </a>
                  <h2 class="section-heading">Slack</h2>
                  <p class="lead">Team Communication</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://apiary.io">
                  <img class="toolImage" src="../static/resources/icons/apiary.png">
                  </a>
                  <h2 class="section-heading">Apiary<br></h2>
                  <p class="lead">API Documentation</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://cloud.google.com">
                  <img class="toolImage" src="../static/resources/icons/gcp.svg">
                  </a>
                  <h2 class="section-heading">GCP<br></h2>
                  <p class="lead">Virtual Machine</p>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="http://masonry.desandro.com">
                  <img class="toolImage" src="../static/resources/icons/masonry.png">
                  </a>
                  <h2 class="section-heading">Masonry</h2>
                  <p class="lead">Popout Tiles</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://facebook.github.io/react/">
                  <img class="toolImage" src="../static/resources/icons/react.png">
                  </a>
                  <h2 class="section-heading">React<br></h2>
                  <p class="lead">Component Framework</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://trello.com">
                  <img class="toolImage" src="../static/resources/icons/trello.png">
                  </a>
                  <h2 class="section-heading">Trello<br></h2>
                  <p class="lead">Task List</p>
               </div>
            </div>
           <div class="row">
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://webpack.js.org">
                  <img class="toolImage" src="../static/resources/icons/webpack.png">
                  </a>
                  <h2 class="section-heading">Webpack</h2>
                  <p class="lead">Bundle that JS</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://www.npmjs.com">
                  <img class="toolImage" src="../static/resources/icons/npm.png">
                  </a>
                  <h2 class="section-heading">npm<br></h2>
                  <p class="lead">Install those Packages</p>
               </div>
               <div class="col-sm-4 col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <a href="https://www.sqlalchemy.org">
                  <img class="toolImage" src="../static/resources/icons/python.ico">
                  </a>
                  <h2 class="section-heading">SQLAlchemy<br></h2>
                  <p class="lead">Relational Database Mapper</p>
               </div>
            </div>
           
         </div>
         <!-- /.container -->
      </div>
      <!-- technical report -->
      <div class="content-section-a">
         <div class="container text-center">
            <div class="row">
               <div class="col-xs-12">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Technical Report<br></h2>
                  <iframe class="technicalReport" src="https://docs.google.com/document/d/1ERowvScK34l2iOiGCod8Mu0_zmHo5OBVRy5EOJIeYWI/pub?embedded=true"></iframe>
               </div>
            </div>
         </div>
      </div>
      <!-- run tests -->
       <div class="content-section-a">
           <div class="container text-center">
              <div class="row">
                 <div class="col-xs-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Test Results<br></h2>
                    <button id="myBtn">Run Tests</button>
                    <div id="myModal" class="modal">
                      <div class="modal-content">
                        <div class="modal-header">
                          <span class="close">&times;</span>
                          <h2>Test Results</h2>
                        </div>
                        <div class="modal-body">
                          <p id="testResults"></p>
                          <p id="coverResults"></p>
                        </div>
                      </div>
                    </div>
                 </div>
                
              </div>
           </div>
        </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="http://use.edgefonts.net/vt323:n4:all.js"></script>
      <script src="{{ url_for('static', filename='resources/js/modalListeners.js') }}"></script>
   </body>
</html>