/* SWE Styles for boSWEmian Rhapsody by Alex Pustilnik and Tracy Nguyen */

/* Misc */

/* Formatting for technical report iframe */
.technicalReport {
    height: 600px;
    width: 100%;
}

/* Grids */

/* Outer container for the grid module */
.sweGridContainer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* SWE grid title */
.sweGridTitle {
  font-size: 3em;
  color: #FFF;
  text-align: center;
  text-shadow: 3px 3px 3px #000;
  text-transform: capitalize;
}

/* SWE grid subtitle */
.sweGridSubtitle {
  font-size: 2em;
  color: #FFF;
  text-align: center;
    text-shadow: 3px 3px 0px #000;
}

/* Grid Item - used for decorating only */
.sweGridItem {
  /*border:1px solid #021a40;*/
}

/* Grid item spacer (Section heading spacer) */
.sweGridItemSpacer {
  text-align: center;
  width: 200px;
  border-top: 3px solid rgb(74, 162, 209);
}

/* Grid image */
.sweGridImage {
  border:1px solid #021a40;
  object-fit: cover;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 3px 3px 3px #000;
  -moz-box-shadow: 3px 3px 3px #000;
        box-shadow: 3px 3px 3px #000;

}

/* Heading for each grid item (Section heading)*/
.sweGridItemHeading {
  color: rgb(74, 162, 209);
  text-shadow:#000 1px 1px 1px;
  margin-bottom: 30px;
}

/* Text content for grid item (Lead)*/
.sweGridItemContent {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 3px 3px 0px #000;
  color: aliceblue;
}

/* Container for the grid sort menu */
.sweGridSorts {
  text-align: left;
}

.sweSortDropdown {
    /*width: 100%;
    text-align: center;*/
}



/* Masonry base CSS */
/* Masonry */
/* item is invisible, but used for layout
item-content is visible, and transitions size */
.grid {
/*  background: #EEE;*/
  max-width: 1200px;
  text-align: center;
}

/* item is invisible, but used for layout */
.grid-item {
  width: 150px;
  height: 150px;
  float: right;
  margin-bottom: 10px;
}

/* grid-item-content is visible, and transitions size */
.grid-item-content {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  -webkit-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

.grid-item:hover .grid-item-content {
  border-color: #3498DB;
  cursor: pointer;
}

/* Masonry Element Custom Formatting */

/* Masonry ARTIST formatting */

.MartistCellContainer {
	padding: 0px;
	margin: 0px;
	background-color: red;
	display: block;
    position: relative;
	width: 100%;
	height: 100px;
}

.MartistCellImgContainer {
	background-color: blue;
	height: 100%;
	width: 100%;
}

.MartistCellImgContainer > img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}

.MartistCellInfoContainer {
    display: none;
	background-image: url('../images/bg-1.jpg');
    color: grey;
    position: absolute;
	height: 100px;
	width: 50%;
	left: 50%;
    top: 0px;
}

/* Inner Artist info formatting */
.artistInfo-title {
    text-align: center;
    font-family: arial;
    font-size: 1.5em;
    color: aliceblue;
}

.artistInfo-description {
    text-align: center;
    font-family: vt323;
    font-size: 1.5em;
}

/* Masonry ALBUMS formatting */
.MalbumCellImgContainer {
	background-color: blue;
	height: 100%;
	width: 100%;
}

.MalbumCellImgContainer > img {
	width: 100%;
	height: 100%;
}

.MalbumCellInfoContainer {
    display: none;
	background-color: black;
    color: springgreen;
    position: absolute;
	height: 100px;
	width: 50%;
	left: 50%;
    top: 0px;
}

/* Inner Artist info formatting */
.albumInfo-title {
    text-align: center;
    font-family: vt323;
    font-size: 2em;
}

.albumInfo-description {
    text-align: center;
    font-family: vt323;
    font-size: 1.25em;
}


/* Masonry General Stuff */

/* Dynamic changes for the boxes */
.expand-coverArt {
    display: none;
}

.expand-description {
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* Inner emphasis classes for headings */
.gridInnerEm {
    font-size: 1.2em;
    text-decoration-line: underline;
}

.btn.responsive-menu {
    padding: 7px 0 0 0;
    width: 36px;
    height: 36px;
    margin: 0;
    display: none;
    text-align: center;
    font-size: 15px;
}

.btn.responsive-menu {
	    display: block
	}

.navbar .btn.responsive-menu {
	    margin: 32px 0;
	    float: right;
	}
	
.navbar.fixed .btn.responsive-menu {
	    margin: 15px 0 16px
	}

.navbar-toggle {
  border-color: #3191e3 !important;
  background-color: #3191e3 !important;
}

.navbar-toggle:hover {
  background-color: #3191e3 !important;
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}
.paginationBar {
        margin-left: 30%;
}

form {
  text-align: left;
  width: 100%;
  color: aliceblue;
}

form > label {
  color: aliceblue;
  padding-right: 50px;
}

.tools-logo {
  width: 256px;
  height: 256px;
  overflow: hidden;

}

/* tool section */
.toolImage {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

ul.rc-pagination {
  width: 40%;
  margin: auto;
}
